body,html {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    color: black;
    height: 100%;
    width: 100%;
    user-select: none;
    cursor: default;
}
#container {
    display: flex;
    gap: 1em;
    min-height: 92%;
    justify-content: center;
    align-items: center;
}

#container div {
    flex:1;
}

#center-section {
    text-align: center;
}

#left-section {
    margin-top: 1em;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    height: 35em;
    align-items: center;
}

footer{
    width: 100%;
    text-align: center;
}

#right-section {
    margin-top: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    height: 35em;
    align-items: center;
}

#color-picker-pen {
    visibility: hidden;
}

#color-picker-canvas {
    position: fixed;
    visibility: hidden;
}

#size-range{
    margin-top: 2em;
    -webkit-appearance: none;
    border-radius: 1em;
    background-color: grey;
    height: 1em;
    width: 9em;
}


#size-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: lightgrey;
    border: 1px solid grey;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    cursor: pointer;
}

#size-range::-webkit-slider-thumb:active {
    transform: scale(1.1);
}


#clear:active{
    animation: forwards clearButtonClick;
    animation-duration: 0.1s;
}




.canvas {
    display: grid;
    background-color: white;
    width: 35em;
    height: 35em;
    box-shadow: 0 0 1em black;
}

.button {
    margin-top: 2em;
    padding-top: 0.5em;
    border: 0.2em solid grey;
    text-align: center;
    width: 5em;
    max-height: 1.5em;
}

.color-picker-button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1em grey;
    border: 0.2em solid grey;
    border-radius: 50%;
    width: 5em;
    max-height: 5em;

}

.button:hover,.color-picker-button:hover,#grid-line:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.selected-mode {
    width: 5em;
    max-height: 1.5em;
    margin-top: 2em;
    padding-top: 0.5em;
    text-align: center;
    border: 0.2em solid grey;
    background-color: grey;
    color: white;
    cursor: default;

}

.show-grid-line {
    border: 1px groove;
}

@keyframes clearButtonClick {
    to {
        background-color: grey;
        color: white;
    }
}





